<div class="d-flex">
<div>
  <% if message.user.photo.key.present? %>
    <%= cl_image_tag message.user.photo.key, class:"admin-avatar-img", style:"width:70px; margin-right: -10px"%>
  <% else %>
    <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class:"avatar-admin-img" %>
  <% end %>
</div>
<div id="message-<%= message.id %>">
  <small>
  <% if message.user == current_user %>
    <strong>You</strong>
  <% else %>
    <strong><%= message.user.name %></strong>
  <% end %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
</div>
