        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white p-3 bg-white whole-navbar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <%= image_tag 'kado-logo-indigo.png', class:"logo-img-indigo"%>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"><%= render 'shared/searchbar' %></span>
                    </li>
                    <li>
                      <%= link_to dashboard_path, class: "nav-link px-0 align-middle nav-link__m2" do %>
                        <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline bar-info">Dashboard</span>
                      <% end %>
                    </li>
                    <%# <li>
                      <a href="#" class="nav-link px-0 align-middle nav-link__m2">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline bar-info">Friends</span>
                      </a>
                    </li> %>
                    <%# <li>
                      <a href="#" class="nav-link px-0 align-middle nav-link__m2">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline bar-info">Messages</span>
                      </a>
                    </li> %>
                    <li>
                      <%= link_to profile_path, class: "nav-link px-0 align-middle nav-link__m2" do %>
                        <i class="far fa-user"></i> <span class="ms-1 d-none d-sm-inline bar-info">Profile</span>
                      <% end %>
                    </li>
                    <%= link_to destroy_user_session_path, class:"logout-btn-dashboard-nav", method: :delete do %>
                      <i class="fas fa-sign-out-alt"></i> Log out
                    <% end %>



                </ul>
                <hr>

            </div>
        </div>
