
<%= render 'pages/partials/modal' %>

<div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'shared/dashboardnav' %>
      <div class="col py-3">
        <div class="dashboard__title-logo">
          <h1 class="title-dashboard">Dashboard</h1>
          <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="60" class="rounded-circle margin-right">
                  <%# <span class="d-none d-sm-inline mx-1">loser</span> %>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                  <%# <li><a class="dropdown-item" href="#">Settings</a></li> %>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <%# <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li> %>
              </ul>
          </div>
        </div>
        <div class="dashboard-card-container">

          <div class="dashboard-upperpart-container d-flex mb-3">
            <div class="dashboard-card dashboard-upperpart-card-calender" style="overflow: hidden">
            <div class="test">
              <%= calendar(start_date_param: :my_date, number_of_days: 28) do |date| %>
                <div class="day-number"><%= date.day %></div>
              <% end %>
              </div>
            </div>
            <div class="dashboard-card dashboard-upperpart-card-activity">
              <ul class="unordered-list">
              <h2>Activities</h2>
                <% @activities.each do |activity| %>
                  <% if activity.class == User %>
                    <li><%= @projects.first.user.email %> invited <%= activity.email %> to his project</li>
                  <% elsif activity.class == Message %>
                    <li><%= activity.content %></li>
                  <% elsif activity.class == Idea %>
                    <li><%= activity.title %></li>
                  <% end %>


                <% end %>
              </ul>
            </div>
          </div>

          <div class="dashboard-bottompart-container">
            <div class="dashboard-card dashboard-bottompart-card-projects">
              <div class="dashboard-projects-container">
                <div class="dashboard-projects-upperpart d-flex justify-content-between">
                  <div class="my-projects-label">
                    <p>My projects</p>
                  </div>
                  <div class="project-links">
                    <%= link_to "join project" %>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      create project
                    </button>
                  </div>
                </div>

                <div class="dashboard-projects-bottompart">
                  <table class="table">
                    <thead>
                      <tr class="table-light">
                        <th scope="col" class="table-light__cell-radius-left fw-light">Group</th>
                        <th scope="col" class="fw-light">Admin</th>
                        <th scope="col" class="fw-light">Deadlines</th>
                        <th scope="col" class="table-light__cell-radius-right fw-light">Status</th>
                      </tr>
                    </thead>
                    <tbody style="border: none">
                    <% @projects.each do |project|  %>
                      <tr class="dashboard__table-body fw-light">
                        <th class="group" scope="row"><%= link_to project.name, project_path(project) %></th>
                        <td><%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80", class:"avatar-admin-img" %><%= project.user.email %></td>
                        <td><%= project.date %></td>
                        <td class="status-container">
                        <% if Date.today >= project.date %>
                          <span class="badge custom-badge">Active</span>
                          <% else %>
                          <span class="badge custom-badge" style="color: red">inactive</span>
                        <% end %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
