
<%= render 'pages/partials/modal' %>

<div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'shared/dashboardnav' %>
      <div class="col py-3">
        <div class="dashboard__title-logo">
          <h1 class="title-dashboard">Dashboard</h1>
          <div class="dropdown pb-4">
          <% if current_user.photo.key.present? %>
            <div class="d-flex align-items-center">
              <p style="opacity: 0.6;"><%= current_user.email %></p>
              <%=  cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style:"width:70px; margin-right: 66px"%>
            </div>
            <% else %>
               <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
        </div>
        <div class="dashboard-card-container">

          <div class="dashboard-upperpart-container d-flex mb-3">
            <div class="dashboard-card dashboard-upperpart-card-calender" style="overflow: hidden">
            <div class="test">
              <%= calendar(start_date_param: :my_date, number_of_days: 28) do |date| %>
                <div class="day-number"><%= date.day %></div>
              <% end %>
              </div>
            </div>
            <div class="dashboard-card dashboard-upperpart-card-activity">
              <ul class="unordered-list">
              <h2>Activities</h2>
                <% @activities.last(3).each do |activity| %>
                  <% if activity.class == User %>
                    <%= @projects.first.user.invitation_sent_at %>
                  <div class="activity-container d-flex">
                  <% if @projects.first.user.photo.key.present? %>
                    <%= cl_image_tag @projects.first.user.photo.key, class:"activity-user-avatar" %>
                  <% else %>
                    <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class:"activity-user-avatar" %>
                  <% end %>
                    <li class="activity-list-item"><%= @projects.first.user.name %><span class="side-info-activity"> invited </span><%= activity.name %><span class="side-info-activity"> to his project</span></li>
                    <%# <%= link_to "view", project_path(@projects.first) %>
                  </div>
                  <% elsif activity.class == Message %>
                  <div class="activity-container d-flex">
                  <% if activity.user.photo.key.present? %>
                    <%= cl_image_tag activity.user.photo.key, class:"activity-user-avatar" %>
                  <% else %>
                   <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class:"activity-user-avatar" %>
                  <% end %>
                    <div class="activity-container-left">
                      <p class="activity-created-at"><%= activity.created_at.strftime("%a, %l:%M %p") %></p>
                      <li class="activity-list-item"><%= activity.user.name %><span class="side-info-activity"> sent a message in </span><%= activity.project.name %></li>
                    </div>
                    <%# <%= link_to "view", project_path(activity.project) %>
                  </div>
                  <% elsif activity.class == Idea %>
                  <div class="activity-container d-flex">
                    <% if activity.user.photo.key.present? %>
                      <%= cl_image_tag activity.user.photo.key, class:"activity-user-avatar" %>
                    <% else %>
                      <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class:"activity-user-avatar" %>
                    <% end %>
                    <div class="activity-container-left">
                      <p class="activity-created-at"><%= activity.created_at.strftime("%a, %l:%M %p") %></p>
                      <li class="activity-list-item"><%= activity.user.name%><span class="side-info-activity"> suggested </span><%= activity.title %> in <%= activity.project.name %></li>
                    </div>
                    <%# <%= link_to "view", project_path(activity.project) %>
                  </div>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="dashboard-bottompart-container">
            <div class="dashboard-card dashboard-bottompart-card-projects">
              <div class="dashboard-projects-container ">
                <div class="dashboard-projects-upperpart d-flex justify-content-between">
                  <div class="my-projects-label">
                    <h2>My projects</h2>
                  </div>
                  <div class="project-links">
                    <%= link_to "join project" %>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      create project
                    </button>
                  </div>
                </div>

                <div class="dashboard-projects-bottompart">
                  <table class="table">
                    <thead>
                      <tr class="table-light">
                        <th scope="col" class="table-light__cell-radius-left fw-light project-table-heading">Group</th>
                        <th scope="col" class="fw-light project-table-heading">Admin</th>
                        <th scope="col" class="fw-light project-table-heading">Deadlines</th>
                        <th scope="col" class="table-light__cell-radius-right fw-light project-table-heading">Status</th>
                      </tr>
                    </thead>
                    <tbody style="border: none">
                    <% @projects.each do |project|  %>
                        <tr class="dashboard__table-body fw-light">
                          <th class="group" scope="row"><%= link_to project.name, project_path(project) %></th>
                          <td>
                            <div class="d-flex">
                             <% if project.user.photo.key.present? %>
                                <%= cl_image_tag project.user.photo.key, class:"admin-avatar-img", style:"width:70px; margin-right: -10px"%>
                            <% else %>
                                <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=", class:"avatar-admin-img" %>
                            <% end %>
                              <div><%= project.user.email %></div>
                            </div>
                          </td>
                          <td><%= project.date %></td>
                          <td class="status-container">
                          <% if Date.today <= project.date %>
                            <span class="badge custom-badge">Active</span>
                            <% else %>
                            <span class="badge custom-badge" style="color: red">inactive</span>
                          <% end %>
                          </td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
