        <div class="d-flex navbar-header">
          <h1 class="project-name"><%= @project.name %></h1>
          <h3 class="project-date"><%= @project.date %></h3>
        </div>
        <div class="project-card-container d-flex justify-content-around">
          <div class="project-left-cards-container">
            <div class="dashboard-card project-upperpart-card-chat overflow-hidden">
            <h2>Chat</h2>
              <div class="container chatroom overflow-scroll" style= "max-height: 415px" data-controller="chatroom-subscription" data-chatroom-subscription-project-id-value = <%= @project.id  %>>
                <div class="messages" data-chatroom-subscription-target="messages">
                  <% @project.messages.each do |message| %>
                    <%= render "messages/message", message: message %>
                  <% end %>
                  </div>
                  <%= simple_form_for [@project, @message],
                  remote: true,
                  html: {class: "d-flex"} do |f|
                  %>
                  <%= f.input :content,
                    label: false,
                    placeholder: "Message to #{@project.name}",
                    wrapper_html: {class: "flex-grow-1"}
                    #style: "margin-right: 10px;"
                  %>
                  <%= f.submit "Send", class: "btn btn-primary" %>
                <% end %>
            </div>
            </div>
          </div>


          <div class="project-right-card-container">
            <div class="dashboard-card  project-upperpart-card-ideas" style="height: 250px">
              <div class="final-idea-body d-flex">
               <%= image_tag "https://images.unsplash.com/photo-1618718315344-7cbffaa60b6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80",class:"idea-img", style:"border-radius: 14px" %>
                <div class="final-idea-info">
                  <h1><%= @finalidea.title %></h1>
                  <p><%= @finalidea.price %>$</p>
                </div>
               </div>
            </div>

            <div class="project-bottompart-left-cards">
              <div class="dashboard-card d-flex justify-content-between project-bottompart-card-payment mt-3" style="margin-left: -20px; width: 662px; height: 350px">
                <div class="project-payment-info-container">
                  <div class="payment-header d-flex justify-content-between">
                    <h2>Payment</h2>
                  </div>
                  <div>
                    <p>You owe <%= @payment %>€ to <%= @project.user.name %></p>
                    <div class="paypal-card">
                      <div class="paypal-card-container d-flex">
                        <%= image_tag "https://img.icons8.com/fluency/344/paypal.png",width:"40px", height: "40px"%>
                        <div>
                          <h3 style="font-size: 1.25rem; color: white">Paypal</h3>
                          <p style="font-size: 12px; color: white"><%= @project.user.paypal %></p>
                        </div>
                      </div>
                    </div>
                    <div class="bank-card">
                      <div class="bank-card-container d-flex">
                        <%= image_tag "https://img.icons8.com/fluency/344/bank-card-front-side.png",width:"40px", height: "40px"%>
                        <div>
                          <h3 style="font-size: 1.25rem; color: white">Bank</h3>
                          <p style="font-size: 12px; color: white"><%= @project.user.iban %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="project-payment-right-side align-items-center" >
                  <h6 style="margin-top: 130px">824€ of 1045€ have <br> already been paid</h6>
                </div>
                <% if @user_project.paid == false %>
                  <%= link_to "I paid", pay_project_path(@project), class:"payment-btn"%>
                <% else %>
                  <p>you have paid</p>
                <% end %>
              </div>
            </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p><%= @countdown %> days left to vote!</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
