
          <div class="d-flex navbar-header">
          <h1 class="project-name"><%= @project.name %></h1>
          <h3 class="project-date"><%= @project.date %></h3>
        </div>
        <div class="project-card-container d-flex justify-content-around">
          <div class="project-left-cards-container">
            <div class="dashboard-card project-upperpart-card-chat overflow-hidden">
            <h2>chat</h2><p>
              <div class="container chatroom overflow-scroll" style= "max-height: 415px" data-controller="chatroom-subscription" data-chatroom-subscription-project-id-value = <%= @project.id  %>>
                <div class="messages" data-chatroom-subscription-target="messages">
                  <% @project.messages.each do |message| %>
                    <%= render "messages/message", message: message %>
                  <% end %>
                  </div>
                  <%= simple_form_for [@project, @message],
                  remote: true,
                  html: {class: "d-flex"} do |f|
                  %>
                  <%= f.input :content,
                    label: false,
                    placeholder: "Message ##{@project.name}",
                    wrapper_html: {class: "flex-grow-1"}
                  %>
                  <%= f.submit "Send", class: "btn btn-primary" %>
                <% end %>
            </div>
            </div>
          </div>


          <div class="project-right-card-container">
            <div class="dashboard-card project-upperpart-card-ideas" style="height:474px">
              <div class="ideas-header d-flex justify-content-between">
                <h2>Ideas</h2>
                <%= link_to "view all", project_ideas_path(@project) %>
              </div>
              <table class="table">
                <thead>
                  <tr class="table-light">
                    <th scope="col">Idea</th>
                    <th scope="col">Price</th>
                    <th scope="col">Votes</th>
                  </tr>
                </thead>
              <tbody style="border: none">
              <% @ideas.each do |idea| %>
                <tr>
                  <th scope="row"><%= idea.title %></th>
                  <td><%= idea.price %></td>
                  <td><%= idea.total_votes %></td>
                </tr>
              <% end %>
                  </tbody>
                  </table>
              <button type="button" class="btn btn-primary btn-idea" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Add idea
              </button>
            </div>
            </div>
          </div>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p><%= @countdown %> days left to vote!</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div class="dashboard-card group-users-index mt-3">
          <h3>Group participants</h3>
            <% @project.users.each do |user| %>
               <% if user.avatar %>
                    <%= image_tag user.avatar, class:"avatar-group-index" %>
                  <% else %>
                    <%= image_tag "https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" , class:"avatar-group-index" %>
                  <% end %>
              <% end %>

          </div>
        </div>
