<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render 'shared/dashboardnav' %>
    <% if current_user == @project.user && @countdown > 0 %>
      <div class="col py-3">
        <%= render "projectstartadmin" %>
      </div>
    <% elsif current_user != @project.user && @countdown > 0  %>
      <div class="col py-3">
        <%= render "projectstartuser" %>
      </div>
    <% elsif current_user == @project.user && @countdown <= 0%>
     <div class="col py-3">
        <p>the coutndown has passed colleclt your money now</p>
      </div>
    <% else %>
      <div class="col py-3">
        <p>the countdwon has passed please pay the admin</p>
      </div>
    <% end %>
  </div>
</div>





<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= simple_form_for [@project, @idea], html: {class: "modal-content"} do |f|%>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ideas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= f.input :title, input_html: { class: "modal-boxes" } %>
        <%= f.input :price, input_html: { class: "modal-boxes" } %>
        <%= f.input :url, input_html: { class: "modal-boxes" } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Close</button>
       <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
