<div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'shared/dashboardnav' %>
      <div class="col py-3">
        <h1 style="color: black">@<%= @project.name %></h1>
        <div class="project-card-container">
          <div class="project-upperpart-cards-container d-flex">
            <div class="dashboard-card project-upperpart-card-chat"></div>
            <div class="dashboard-card project-upperpart-card-ideas">
              <div class="ideas-header d-flex justify-content-between">
                <h2>Ideas</h2>
                <%= link_to "view all", project_ideas_path(@project) %>
              </div>
              <table class="table">
                <thead>
                  <tr class="table-light">
                    <th scope="col">Ranking</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Price</th>
                    <th scope="col">Votes</th>
                  </tr>
                </thead>
              <tbody style="border: none">
              <% @ideas.each do |idea| %>
                <tr>
                  <th scope="row"><%= idea.title %></th>
                  <td><%= idea.price %></td>
                  <td><%= idea.total_votes %></td>
                </tr>
              <% end %>
                  </tbody>
                  </table>
            <%= link_to "add idea", new_project_idea_path(@project) %>
            </div>
          </div>


          <div class="project-bottompart-card-container d-flex mt-3">
            <div class="project-bottompart-left-cards">
              <div class="dashboard-card project-bottompart-card-payment"></div>
              <div class="dashboard-card project-bottompart-card-times mt-3"></div>
            </div>

            <div class="project-bottompart-right-cards ">
              <div class="dashboard-card project-bottompart-card-group">
              <h3 class="box-down-right-title">Group participants</h3>
              <img src="https://github.com/mdo.png" width="50"       class="rounded-circle margin-right avatar-in-ideas">
              <p class="box-down-right-h2">Add more participants </p>
                <%= simple_form_for(User.new, as: :user, url: invitation_path(:user), html: { method: :post }) do |f| %>
                <%= f.error_notification %>

                <%= hidden_field_tag :project_id, @project.id %>

                <div class="d-flex email-bar-button">
                  <% User.invite_key_fields.each do |field| -%>
                    <%= f.input field, placeholder: "Email" %>
                  <% end -%>

                  <div class="form-actions">
                    <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "send-invite-btn btn btn-primary" %>
                  </div>
                </div>
              <% end %>

              <p class="copy-link fw-light">Copy link</p>
              <a class="link-at-bottum" href="">s=chrome..69i57j0i512l9.1362j0j15&sourceid=chrome&</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
