<div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'shared/dashboardnav' %>
      <div class="col py-3">
        <h1 style="color: black">@<%= @project.name %></h1>
        <div class="project-card-container">
          <div class="project-upperpart-cards-container d-flex">
            <div class="dashboard-card project-upperpart-card-chat"></div>
            <div class="dashboard-card project-upperpart-card-ideas">
              <div class="ideas-header d-flex justify-content-between">
                <h2>ideas</h2>
                <%= link_to "view all", project_ideas_path(@project) %>
              </div>
              <table class="table">
                <thead>
                  <tr class="table-light">
                    <th scope="col">idea</th>
                    <th scope="col">price</th>
                  </tr>
                </thead>
              <tbody style="border: none">
              <% @project.ideas.each do |idea| %>
                <tr>
                  <th scope="row"><%= idea.title %></th>
                  <td><%= idea.price %></td>
                </tr>
              <% end %>
                  </tbody>
                  </table>
            <%= link_to "add idea", new_project_idea_path(@project) %>
            </div>
          </div>


          <div class="project-bottompart-card-container d-flex mt-3">
            <div class="project-bottompart-left-cards">
              <div class="dashboard-card project-bottompart-card-payment"></div>
              <div class="dashboard-card project-bottompart-card-times mt-3"></div>
            </div>

            <div class="project-bottompart-right-cards ">
              <div class="dashboard-card project-bottompart-card-group">
              <h3>Group participants</h3>
              <p>add participants to group</p>
                <%= simple_form_for(User.new, as: :user, url: invitation_path(:user), html: { method: :post }) do |f| %>
                <%= f.error_notification %>

                <%= hidden_field_tag :project_id, @project.id %>

                <% User.invite_key_fields.each do |field| -%>
                  <div class="form-inputs">
                    <%= f.input field %>
                  </div>
                <% end -%>

                <div class="form-actions">
                  <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
